rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /boards/{boardId} {
      allow read, update, write, delete, create: if request.auth != null && request.auth.uid == boardId;
    }
  }
}
